<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="apple-itunes-app"
          content="app-id=409563112, app-argument=iqiyi-pad://mobile/home?subtype=iPadwy_2386&amp;link_id=iqiyihd_0">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>电影大全-好看的电影排行榜-爱奇艺</title>
    <meta name="description" content="电影大全，好看的电影排行榜，爱奇艺提供热门丰富的电影，欢迎在线观看">
    <link rel="stylesheet" type="text/css" href="static/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/list.css">
    <link type="text/css" id="sdkStyle" rel="stylesheet"
          href="static/css/header.css">
    <link type="text/css" rel="stylesheet" href="static/css/list.css">
    <link rel="manifest" href="http://www.iqiyi.com/manifest.json">
    <script type="text/javascript" src="static/js/jquery-1.12.4.min.js"></script>
    <script src="static/js/push.js"></script>
    <script async=""
            src="static/js/beacon.js"></script>
    <script src="static/js/hm.js"></script>
    <script type="text/javascript">
        var pageJsMap = window.pageJsMap = {
            "albumBodan": "albumBodan.6f4d2106.js",
            "play": "play.3a5a442b.js",
            "talkshow": "talkshow.54fa81c5.js",
            "talkshow-legacy": "talkshow-legacy.9dbae97d.js",
            "home2017-legacy": "home2017-legacy.80aeb4c1.js",
            "caijing": "caijing.56b3c88b.js",
            "playLong-legacy": "playLong-legacy.2ff444ba.js",
            "vendor-legacy": "vendor-legacy.53399c0e.js",
            "home2019-legacy": "home2019-legacy.12ec1f80.js",
            "playSeries-legacy": "playSeries-legacy.17f7cc72.js",
            "music": "music.0ba94109.js",
            "muying-legacy": "muying-legacy.52498a44.js",
            "games": "games.f32a4afb.js",
            "movie2018-legacy": "movie2018-legacy.3c0e6380.js",
            "zixun-legacy": "zixun-legacy.6e17231d.js",
            "vip": "vip.f1292380.js",
            "weidianying": "weidianying.68e7e3ce.js",
            "app": "app.59f038e5.js",
            "jiankang-legacy": "jiankang-legacy.70374d1e.js",
            "jilupian-legacy": "jilupian-legacy.7868f315.js",
            "manifest-legacy": "manifest-legacy.359774d1.js",
            "playLong": "playLong.e9a15796.js",
            "keji": "keji.18008846.js",
            "vipAccount": "vipAccount.1cb21cc7.js",
            "playBodan": "playBodan.017d05bc.js",
            "dianshiju-legacy": "dianshiju-legacy.51dbd00d.js",
            "keji-legacy": "keji-legacy.4137fdad.js",
            "playShort-legacy": "playShort-legacy.14f5a740.js",
            "yuanchuang-legacy": "yuanchuang-legacy.028d377e.js",
            "list-legacy": "list-legacy.c68518df.js",
            "app-legacy": "app-legacy.f69d6b80.js",
            "mil-legacy": "mil-legacy.0384e30a.js",
            "pianhua": "pianhua.5e47e6bd.js",
            "dianshiju": "dianshiju.3eeedca4.js",
            "playSeries": "playSeries.293e96ac.js",
            "zongyi": "zongyi.033dd7fe.js",
            "albumBodan-legacy": "albumBodan-legacy.5ae4d61f.js",
            "games-legacy": "games-legacy.60948fae.js",
            "gaoxiao": "gaoxiao.c4866b81.js",
            "jiankang": "jiankang.ea21de67.js",
            "playAb": "playAb.d004254f.js",
            "playShortFeed": "playShortFeed.6cd11833.js",
            "yanchu-legacy": "yanchu-legacy.2c97ea74.js",
            "mil": "mil.89dd8d3b.js",
            "vendor": "vendor.85a46c1a.js",
            "playKnowledge-legacy": "playKnowledge-legacy.7cc2f161.js",
            "gongyi": "gongyi.36aa940a.js",
            "gongyi-legacy": "gongyi-legacy.893014c1.js",
            "pianhua-legacy": "pianhua-legacy.35f712d3.js",
            "zixun": "zixun.eef9a073.js",
            "lvyou-legacy": "lvyou-legacy.90e90e5c.js",
            "play-legacy": "play-legacy.66a23bef.js",
            "qiche-legacy": "qiche-legacy.b5ad2865.js",
            "paopaoIndex-legacy": "paopaoIndex-legacy.54f379dd.js",
            "paoFeedDetail-legacy": "paoFeedDetail-legacy.a04c6dda.js",
            "jilupian": "jilupian.d06cdbe1.js",
            "playSource": "playSource.25fa40ed.js",
            "lvyou": "lvyou.bfdf5691.js",
            "fashion": "fashion.8d54a93f.js",
            "paopaoIndex": "paopaoIndex.ed78be8f.js",
            "child-legacy": "child-legacy.8993f0f0.js",
            "vip-legacy": "vip-legacy.896f7a1f.js",
            "paoQuan": "paoQuan.8d5968ba.js",
            "yanchu": "yanchu.d143dbef.js",
            "paoStar": "paoStar.dcb55d24.js",
            "paoQuan-legacy": "paoQuan-legacy.c80af097.js",
            "playAb-legacy": "playAb-legacy.0a2f4dc6.js",
            "vipAccount-legacy": "vipAccount-legacy.44767776.js",
            "bodan-legacy": "bodan-legacy.89a43864.js",
            "music-legacy": "music-legacy.c0771926.js",
            "common-legacy": "common-legacy.e7864a1b.js",
            "list": "list.7da6f196.js",
            "movie2018": "movie2018.a28c0d82.js",
            "yule": "yule.73372b73.js",
            "vr-legacy": "vr-legacy.4777bd58.js",
            "yuanchuang": "yuanchuang.61f0161f.js",
            "home2019": "home2019.557b46e4.js",
            "edu": "edu.4b93c025.js",
            "home2017": "home2017.b6a8f483.js",
            "fashion-legacy": "fashion-legacy.5f61ea64.js",
            "paoFeedDetail": "paoFeedDetail.d29b7a4f.js",
            "playSource-legacy": "playSource-legacy.d64cd6da.js",
            "zongyi-legacy": "zongyi-legacy.a18a176f.js",
            "playShortFeed-legacy": "playShortFeed-legacy.8cb5df9a.js",
            "bodan": "bodan.969bf3ca.js",
            "vr": "vr.30ae7182.js",
            "shenghuo": "shenghuo.1674e1ce.js",
            "child": "child.808f16f9.js",
            "playShort": "playShort.25271f77.js",
            "gaoxiao-legacy": "gaoxiao-legacy.b0fb27e7.js",
            "caijing-legacy": "caijing-legacy.72fe8265.js",
            "common": "common.fd60048c.js",
            "playBodan-legacy": "playBodan-legacy.30394704.js",
            "muying": "muying.d0642389.js",
            "playKnowledge": "playKnowledge.f1c493c3.js",
            "qiche": "qiche.8908716f.js",
            "edu-legacy": "edu-legacy.b1c1f35f.js",
            "yule-legacy": "yule-legacy.4e8a657b.js",
            "manifest": "manifest.359774d1.js",
            "shenghuo-legacy": "shenghuo-legacy.208e1e3e.js",
            "weidianying-legacy": "weidianying-legacy.20f38012.js",
            "paoStar-legacy": "paoStar-legacy.906de50d.js"
        };
    </script>
    <script>
        //window.channelAdConfig配置项中的channelId不要改动（焦点图广告及页面是否开启webp都需使用channelId）
        var channelAdConfig = {
            jsAddress: "//static.iqiyi.com/js/common/ares6.min.js",
            hasPlayer: "false",
            playerId: {
                normal: "qc_100001_100029",
                iPad: ""
            }
        }
        if ("list" != "list" && "list" != "album") {
            channelAdConfig.channelId = parseInt("list");
        }
        window.channelAdConfig = channelAdConfig;
    </script>
    <script>
        (function (win) {
            var localStorageQC005 = window.localStorage && localStorage.getItem("QC005");
            var isValidKey = function (key) {
                return (new RegExp('^[^\\x00-\\x20\\x7f\\(\\)<>@,;:\\\\\\"\\[\\]\\?=\\{\\}\\/\\u0080-\\uffff]+\x24')).test(key)
            };
            var setRaw = function (key, value, options) {
                if (!isValidKey(key)) {
                    return
                }
                options = options || {};
                var expires = options.expires;
                if ("number" == typeof options.expires) {
                    expires = new Date();
                    expires.setTime(expires.getTime() + options.expires)
                }
                document.cookie = key + "=" + value + (options.path ? "; path=" + options.path : "") + (expires ? "; expires=" + expires.toGMTString() : "") + (options.domain ? "; domain=" + options.domain : "") + (options.secure ? "; secure" : "")
            };
            var getRaw = function (key) {
                if (isValidKey(key)) {
                    var reg = new RegExp("(^| )" + key + "=([^;]*)(;|\x24)"), result = reg.exec(document.cookie);
                    if (result) {
                        return result[2] || null
                    }
                }
                return null
            };
            var set = function (key, value, options) {
                setRaw(key, encodeURIComponent(value), options)
            };
            var get = function (key) {
                var value = getRaw(key);
                if ("string" == typeof value) {
                    value = decodeURIComponent(value);
                    return value
                }
                return null
            };
            var setNewUser = function (isNewuser) {
                set("QC173", isNewuser, {path: "/", domain: "iqiyi.com", expires: 90 * 365 * 24 * 3600 * 1000})
            };
            var getLocal005 = function () {
                if (localStorageQC005) {
                    set("QC005", localStorageQC005, {
                        path: "/",
                        domain: "iqiyi.com",
                        expires: 90 * 365 * 24 * 3600 * 1000
                    });
                    setNewUser(0);
                    return true
                }
                return false
            };
            var generate = function () {
                if (!getLocal005()) {
                    var chars = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "a", "b", "c", "d", "e", "f"];
                    var nums = "";
                    for (var i = 0; i < 32; i++) {
                        var id = Math.floor(Math.random() * 16);
                        nums += chars[id]
                    }
                    uid = nums;
                    set("QC005", uid, {path: "/", domain: "iqiyi.com", expires: 90 * 365 * 24 * 3600 * 1000});
                    if (window.localStorage) {
                        localStorage.setItem("QC005", uid)
                    }
                    setNewUser(1)
                }
            };
            if (!get("QC005")) {
                generate()
            } else {
                if (localStorageQC005) {
                    set("QC005", localStorageQC005, {
                        path: "/",
                        domain: "iqiyi.com",
                        expires: 90 * 365 * 24 * 3600 * 1000
                    })
                }
                setNewUser(0)
            }
        })(window);
    </script>
    <script async="" src="static/js/ares6.js"></script>
</head>
<body render-by="uniqy-frame">
<div>
    <div id="list">
        <div class="qy-list-page">
            <div class="qy-list-category">
                <div class="list-content">
                    <div id="1000000000046" class="qy-mod-ad" style="display: none;"><a id="adClick"
                                                                                        onfocus="this.blur();"
                                                                                        style="width: 100%; position: absolute;"></a>
                        <div id="adDiv" style="width: 970px; margin: 0px auto;"></div>
                    </div>
                    <div class="list-content" id="block-B">
                        <div class="category-content">
                            {% for cate in cates %}
                                <div class="category-class category-class2">
                                    <div class="category-list">
                                    <span class="category-item selected"><span
                                            class="category-text">{{ cate.group_name }}</span></span>
                                        {% for child in cate.child %}
                                            <span class="category-item"><span
                                                    class="category-text">{{ child.title }}</span></span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-content">
                <div class="qy-list-filter" id="block-C">
                    <div class="filter-tab" style="height: 24px;"></div><!----></div>
                <div class="qy-list-wrap" id="block-D">
                    <div class=""
                         style="position: absolute; color: rgb(153, 153, 153); font-size: 14px; right: 0px; top: 0px;">
                        {{ total }}
                    </div>
                    <ul class="qy-mod-ul">
                        {% for movie in movies %}
                            <li class="qy-mod-li">
                                <div class="qy-list-img vertical">
                                    <div class="qy-mod-link-wrap">
                                        <a href="{{ url_for('moviePlay',playhtml=movie.url,movieid=movie.id ) }}"
                                           vfrmrseat="" class="qy-mod-link" target="_blank">
                                            <div style="height: 100%; overflow: hidden;">
                                                <div id="T-randomAni" class="qy-mod-cover"
                                                     style="height: inherit; width: inherit; background-size: 100%; animation-duration: 0.4s; animation-delay: 0.0161093s; background-image: url({{ movie.imagepath }};);"></div>
                                                <div id="T-playerWrap" rseat="_video_play1" data-pb=""
                                                     style="height: 100%; display: none;"></div><!----><span
                                                    rseat="_collect1"
                                                    data-pb=""
                                                    class="qy-vc-small-collect"
                                                    style="display: none;"><span
                                                    class="qy-vc-small_collected-text">收藏</span><i
                                                    class="qy-svgicon qy-svgicon-collect-fill"></i></span></div>
                                            <div class="icon-tr"><img
                                                    src="static/image/vip_100002_v_601_0_21.png"
                                                    srcset="//pic2.iqiyipic.com/common/20171106/bc/1b/vip_100002_v_601_0_38.png 2x"
                                                    rseat=""></div><!----><!---->
                                            <div class="icon-br icon-b" style="display: none;"><span rseat=""
                                                                                                     class="qy-mod-label">

            </span></div>
                                            <div class="icon-bl" style="display: none;"><span
                                                    class="playing">播放中</span>
                                                <div></div>
                                            </div><!----><!----><!----><!----><i
                                                class="qy-common-icon qy-common-loading"
                                                style="display: none;"></i>
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                 class="svgicon-loading"
                                                 style="display: none;">
                                                <path d="M2.7 16.6c-.4 0-.8-.2-.9-.6-1.6-4.1-.7-8.7 2.4-11.8C7.3 1.1 11.9.2 16 1.7c.5.2.8.8.6 1.3s-.8.8-1.3.6c-3.3-1.3-7.1-.5-9.6 2s-3.3 6.3-2 9.6c.2.5-.1 1.1-.6 1.3-.2.1-.3.1-.4.1zM12 23c-1.4 0-2.7-.3-4.1-.8-.5-.2-.8-.8-.6-1.3.2-.5.8-.8 1.3-.6 3.3 1.3 7.1.5 9.7-2 2.6-2.6 3.3-6.4 2-9.8-.2-.5 0-1.1.6-1.3.5-.2 1.1 0 1.3.6 1.7 4.1.7 8.8-2.4 11.9-2.1 2.2-4.9 3.3-7.8 3.3z"></path>
                                            </svg>
                                        </a></div>
                                    <div class="title-wrap"><p class="main"><span
                                            class="text-score">{{ movie.score }}</span><a data-pb=""
                                                                                          rseat=""
                                                                                          title="{{ movie.moviename }}"
                                                                                          href="http://www.iqiyi.com/v_19rvlec4cs.html"
                                                                                          class="link-txt"
                                                                                          target="_blank">
                                        <!----><span>{{ movie.moviename }}</span></a></p><!----><!----><!----><p
                                            class="sub">
                                        主演:
                                        <span><a target="_blank" href="http://www.iqiyi.com/lib/s_215233905.html"
                                                 title="道恩·强森"
                                                 class="sub-link">道恩·强森</a><span> / </span></span><span><a
                                            target="_blank" href="http://www.iqiyi.com/lib/s_204443405.html"
                                            title="杰森·斯坦森"
                                            class="sub-link">杰森·斯坦森</a><span> / </span></span><span><a
                                            target="_blank"
                                            href="http://www.iqiyi.com/lib/s_216489005.html"
                                            title="伊德里斯·艾尔巴"
                                            class="sub-link">伊德里斯·艾尔巴</a>
                                        <!----></span></p><!----><!----></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul><!---->

                    <div style="height: 38px;"></div>
                </div>
                <div id="1000000000048" class="qy-mod-ad adbt" style="display: none;"><a id="adClick"
                                                                                         onfocus="this.blur();"
                                                                                         style="width: 100%; position: absolute;"></a>
                    <div id="adDiv" style="width: 970px; margin: 0px auto;"></div>
                </div>
            </div>
            <div id="block-E">
                {% for movie in movies %}
                    <div class="qy-video-info-tips2 type-list"
                         style="width: 250px; top: 450px; left: 310px; display: none;"><a
                            href="{{ url_for('moviePlay',playhtml=movie.url,movieid=movie.id ) }}" target="_blank">
                        <div class="movie_tipHd">
                            <div class="movie_tipLink" style="height: 140px;"><img alt="{{ movie.moviename }}"
                                                                                   class="movie_img"
                                                                                   src="{{ movie.imagepath }}"/>
                            </div>
                        </div>
                        <div class="movie_tipCon" style="height: 144px;">
                            <div class="movie_tipTitle"><p class="movie_tipScore">{{ movie.score }}</p>
                                <p title="{{ movie.moviename }}" class="movie_tipName">{{ movie.moviename }}</p>
                            </div>
                            <div class="tipLableBox"><span class="tipLable_title">类型：</span><span
                                    class="tipLable_con"><span class="tipLable">院线</span><span
                                    class="tipLable">4K</span><span class="tipLable">犯罪</span></span>
                                <p class="{{ movie.moviename }}"></p></div>
                            <div class="tipLableBox"><span class="tipLable_title">主演：</span><span
                                    class="tipLable_con"><span class="tipLable">古天乐</span><span
                                    class="tipLable">郑嘉颖</span><span class="tipLable">周秀娜</span><!----></span></div>
                            <div title=""
                                 class="tip_des" style="height: 60px;">
                                廉政公署收到报案人廖雨萍的实名举报，举报正在坐牢的富二代曹元元涉嫌行贿监狱里的监督沈济全以及惩教员，...
                            </div>
                        </div>
                    </a>
                        <div class="movie_tipBd"><a href="//www.iqiyi.com/v_19rsnp37uk.html" target="_blank"
                                                    class="qy-button-small topBd_btn"><span
                                class="topBd_btnIn">立即观看</span></a><a class="topBd_collect qy-icon-btn-collect"><a
                                rseat="707201_collection" href="javascript:void(0)"
                                class="qy-icon-btn-collect"><span
                                class="collect"><i class="qy-svgicon qy-svgicon-collect"></i><span
                                class="txt">收藏</span></span><span
                                class="collected" style="display: none;"><i
                                class="qy-svgicon qy-svgicon-collected"></i><span
                                class="txt">已收藏</span></span></a></a></div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagenation">
                <div id="pagination" class="page"></div>
            </div>

        </div>

    </div>

</div>

{#</div>#}
<script type="text/javascript">
    function getCookie(key) {
        var reg = new RegExp("(^| )" + key + "=([^;]*)(;|\x24)"), result = reg.exec(document.cookie) || [];
        result = result[2] || null
        if ('string' == typeof result) {
            return decodeURIComponent(result);
        }
        return null;
    };
    var s_source = 'PCW';
    var purl = window.location.href;
    var urlParam = (purl.split('?')[1] || '').split('&');
    for (var i = 0; i < urlParam.length; i++) {
        if (urlParam[i].split('=')[0] === 's_source') {
            s_source = urlParam[i].split('=')[1] || s_source;
        }
    }
    var QC005 = getCookie('QC005');
    var P00003 = getCookie('P00003');
    var userInfo = getCookie('QC179');
    var pingbackElem = document.getElementById('impression-ping-back');
    var rn = parseInt(Math.random() * 100000000, 10);
    var key = 'data-src';

    var src = (pingbackElem.getAttribute(key) || pingbackElem[key] || '')
        + '&purl=' + encodeURIComponent(purl)
        + '&rfr=' + encodeURIComponent(document.referrer)
        + '&rn=' + rn
        + '&ce=' + rn
        + '&u=' + (QC005 || '')
        + '&pu=' + (P00003 || '')
        + '&s_source=' + (s_source || '').toUpperCase()
        + '&hu=' + (JSON.parse(userInfo) || {}).vipTypes || -1;

    var img = new Image();
    var name = "impression-ping-back" + Math.floor(2147483648 * Math.random()).toString(36);
    window[name] = img;
    img.onload = img.onerror = img.onabort = function () {
        img.onload = img.onerror = img.onabort = null;
        img = window[name] = null;
    };
    img.src = src + '&t=21';

    var imgPv = new Image();
    var namePv = "impression-ping-back" + Math.floor(2147483648 * Math.random()).toString(36);
    window[namePv] = imgPv;
    imgPv.onload = imgPv.onerror = imgPv.onabort = function () {
        imgPv.onload = imgPv.onerror = imgPv.onabort = null;
        imgPv = window[namePv] = null;
    };
    imgPv.src = src + '&t=22';
</script>

<script src="static/js/a.js"></script>
<script src="static/js/common-legacy.js"></script>
<script src="static/js/a_002.js"></script>
<script>(function () {
    var autosend = function () {
        var curProtocol = window.location.protocol.split(':')[0];
        var bp = document.createElement('script');
        bp.src = curProtocol === 'https' ? 'https://zz.bdstatic.com/linksubmit/push.js' : 'http://push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    };
    var timer = setTimeout(autosend, 1000);
})();
</script>
<script type="text/javascript">
    {#let category_id = "{{ category_id }}";#}
</script>

<script type="text/javascript" src="static/js/jquery.pagination.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#pagination').pagination({
            currentPage: {{ page_num }},
            totalPage: {{ total_page }},
            callback: function (current) {
                {#location.href = '/list/115/1/?sort=default';#}
                location.href = '/movieList?page=' + current + '&pagesize=' + 30;
            }
        })
    });
</script>
</body>
</html>